# Documentaion build {{ role_name|basename }}
{% if ansible_date_time.date is defined %}
# Generated {{ ansible_date_time.date }}
{% endif %}
# Documentaion for {{ inventory_hostname|lower }}
# Managed by Ansible


Variables for {{ role_name|basename }} 

apache_webroot: {{ apache_webroot }}
apache_index_html: {{ apache_index_html }}
